.background {
    background-color: rgb(68, 67, 67);
  }
  
  .logo {
    background-image: url(Logo.png);
  }
  
  .progressBar {
    background-color: rgb(194, 26, 26);
  }
  
  .splash {
    background-image: url(Splash.png);
  }